# Terraform .terraform directories
**/.terraform/*

# Terraform .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude any .tfvars files that are intended to be kept private
*.tfvars

# Ignore override files as they are usually used to override resources locally and do not need to be checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore .terraform.lock.hcl files (Terraform 0.15+)
.terraform.lock.hcl

# Ignore plugin directories
**/terraform/plugins/*
